@mixin linear-gradient($direction, $color-stops...) {
  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}



body {
	  background-image: linear-gradient(gray, white, #eeeeee) !important;
	  padding: 0px;
	  padding-top: 40px;
    height: 100%;
}
