extends layout

block content
  link(href="https://cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet")
  .container
    .starter-template
      h1 Articles - Admin Dash
      p.lead
        | Use this page to submit a new articles.
    .editor-outer-wrapper(style="width: 65%; min-width: 500px; max-width: 650px; margin-left: auto; margin-right: auto;")
      #editor-container
        .center-every
          label.center-text.post-title-label(for='post-title')  Article Title 
          |  
          input#post-title(style='padding-left: 5px;', type='text', hint='SDF')
          
        #editor(style="margin-left: auto; margin-right: width: 65%; min-width: 500px; max-width: 650px;")
        .button-container(style="text-align: center;")
          button.btn.btn-default(onclick="post()") Go!

  script(src="https://cdn.quilljs.com/1.0.0/quill.js")
  script(src='javascripts/postUtils.js')
  
  