extends layout

block content
  
 
  .container
    .starter-template
      h1 TLDR Blogs - Admin Dash
      p.lead
        | Use this page to submit new blogs.

 
    .center-every#titleInput
      label.center-text.post-title-label(for='post-title')  Article Title 
      |  
      input#post-title(style='padding-left: 5px; z-index: 99999;',  hint='SDF')
    .editor-outer-wrapper(style="width: 65%; min-width: 500px; max-width: 750px; margin-left: auto; margin-right: auto; z-index: 500;")
      #editor-container
        
        #toolbar
          select.ql-font
            option(selected) Sans Serif
            option(value="mirza") Mirza
            option(value="roboto") Roboto
            option(value="oswald") Oswald

          select.ql-size
            option(selected)
            option(value="large")
            option(value="huge")
          
          span.ql-formats
            button.ql-bold
            button.ql-italic
            button.ql-underline
            button.ql-strike
          span.ql-formats
            button.ql-image
          select.ql-align
            option(selected="")
            option(value="center")
            option(value="right")
            option(value="justify")
          

            
        #editor(style="margin-left: auto; margin-right: width: 65%; min-width: 500px; max-width: 750px;")
        .button-container(style="text-align: center;")
          button.btn.btn-default(onclick="post()") Go!

block scripts
  script(src="https://cdn.quilljs.com/1.0.0/quill.js")
  script(src='/javascripts/postUtils.js')
  
  