extends layout

block content
div#step2
 div(style="text-align: center;")
   h3 Screen Size
   nav(aria-lavel="...")
     ul.pagination
       li.screen-size-indic
         a(href="#") XS 
           span.sr-only (current)
       li.screen-size-indic
         a(href="#") SM 
           span.sr-only (current)
       li.screen-size-indic
         a(href="#") MD 
           span.sr-only (current)
       li.active.screen-size-indic
         a(href="#") LG
           span.sr-only (current)
