extends ../layout


block content
  div#step1
    h3.step-header Step 1: Image Upload
    form.image-form(method="post",enctype="multipart/form-data",action="/admin/upl")
      input.file-upload-input(type="file",name="upl")

      input(type="submit") 

  