extends ../layout

block stylesheets
  link(rel="stylesheet" href="/stylesheets/add-post.css")
  link(href="https://cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet")
  link(href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet")
  link(rel='stylesheet', href='/stylesheets/image-panel.css')
block content
  .container.main-content
    ol.breadcrumb
      li
        a(href="/admin/dash/stories") All Articles
      li
        a(href="/admin/dash/blog_posts") All Blogs
  
    .row(style="margin-top: 24px;")
      h3(style="padding-left: 24px;") Add New Post
      .col-sm-8.col-xs-12
        input#title-input.form-control(type='text', placeholder='ENTER TITLE HERE')
        .editor-outer-wrapper
          #editor-container
            
            #toolbar
              select.ql-font
                option(selected) Sans Serif
                option(value="mirza") Mirza
                option(value="roboto") Roboto 
                option(value="oswald") Oswald
                option(value="comics sans ms") Comic Sans Ms

              select.ql-size
                option(selected)
                option(value="large")
                option(value="huge")
              
              span.ql-formats
                button.ql-bold
                button.ql-italic
                button.ql-underline
                button.ql-strike
              span.ql-formats
                button.ql-image
              select.ql-align
                option(selected="")
                option(value="center")
                option(value="right")
                option(value="justify")
              span.ql-formats
                select.ql-color
                select.ql-background
              

                
            #editor
      if contype == "blog"
        include ../partials/sidebars/editpost.jade
      else if contype == "story"
        include ../partials/sidebars/editarticle.jade
      else if contype == "page"
        include ../partials/sidebars/editpage.jade
    include ../partials/modals/featureimage.jade
block scripts
  script(src="https://cdn.quilljs.com/1.0.0/quill.js")
  script(src="/javascripts/ajaxImage.js") 
  script(src='/javascripts/postUtils.js')
  
  script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js")
  script.
    initQuill();
    initAlerts();
  if edit

    script.
      initContentType('#{contype}')
      fillEditContent('#{content}');
      
  
  
  