extends ../layout

block stylesheets
  link(href="/stylesheets/image-panel.css" rel="stylesheet" type="text/css")

block content
  div#step2
    div(style="text-align: center;")
      h3 Screen Size
      div.post-image-configuration
        p Adjust the image position and zoom for each container. These represent all of the picture displays that this image may use, and we want to make sure we format it properly for you. To simply center all of the images, hit "Take Defaults"
      nav(aria-lavel="...")
    div.myContainer(style="text-align: center;")
        button.btn.btn-default#next-image Manually Position Next
        button.btn.btn-default#take-defaults Take Defaults
       
block scripts
  script(src="/javascripts/image-render.js")
  script.
    $.get("/admin/imgrend/data", function (resp) {
      $('.myContainer').html(resp.html + $('.myContainer').html() );
      injectVars(resp.articleTypes, resp.orderArray, resp.classnames, resp.css, '#{imgsrc}');
    })
    //- div.myContainer
    //-   div.image-holder-wrapper
    //-     div.image-holder#image-holder(style="background-image: url('/images/#{imgsrc}');")
    
    