.col-sm-4.col-xs-12
        
  form#panel-form
    block all

    div(style="text-align: center;")
      button.btn.btn-default.save-draft(onclick="refreshContent(false)" type="button") Save Draft
      block gobutton